DagskraLausn2018/src/is/hi/torg/vinnsla/Sjónvarpsdagskrá.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="results" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="title"/>
              <xs:element type="xs:string" name="originalTitle"/>
              <xs:element type="xs:time" name="duration"/>
              <xs:element type="xs:string" name="description"/>
              <xs:element type="xs:string" name="shortDescription"/>
              <xs:element type="xs:string" name="live"/>
              <xs:element type="xs:string" name="premier"/>
              <xs:element type="xs:string" name="startTime"/>
              <xs:element type="xs:string" name="aspectRatio"/>
              <xs:element name="series">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:byte" name="episode"/>
                    <xs:element type="xs:short" name="series"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>