HotelSearch/src/is/hi/projecthotel/vinnsla/Hotel.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="hotelList">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="hotel" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:int" name="hotelId"/>
              <xs:element type="xs:string" name="hotelName"/>
              <xs:element type="xs:string" name="address"/>
              <xs:element type="xs:string" name="region"/>
              <xs:element type="xs:int" name="pricePerNight"/>
              <xs:element type="xs:int" name="distanceDowntown"/>
              <xs:element type="xs:int" name="stars"/>
              <xs:element type="xs:int" name="rating"/>
              <xs:element name="review">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="review"/>
                    <xs:element type="xs:int" name="rating"/>
                    <xs:element type="xs:int" name="customerId"/>
                    <xs:element type="xs:int" name="hotelId"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="rommsAvailable">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:date" name="date"/>
                    <xs:element type="xs:int" name="rooms"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>